Repository elastic/apm-agent-rum-js, pull requests merged in 2018-12, with the labels that each got.

#112 chore: lint and format files under test
  .eslintrc.js
  karma.conf.js
  package.json
  scripts/run-script.js
  test/e2e/e2e.js
  test/e2e/general-usecase/app.e2e-spec.js
  test/e2e/general-usecase/app.js
  test/e2e/general-usecase/webpack.config.js
  test/e2e/integration-test.js
  test/e2e/manual-timing/app.e2e-spec.js
  test/e2e/manual-timing/app.js
  test/e2e/manual-timing/webpack.config.js
  test/e2e/react/app.jsx
  test/e2e/react/main-component.jsx
  test/e2e/standalone-html/app.e2e-spec.js
  test/node/index.node-spec.js
  test/node/integration-test.node-spec.js
  test/node/upload-sourcemaps.node-spec.js
  test/specs/apm-base.spec.js
  test/specs/index.spec.js
  wdio.conf.js
Labels: [zube]: In Progress

#117 Docs: version cross document links in 1.x
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/sourcemap.asciidoc
Labels: docs

#115 docs: version cross doc links
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/sourcemap.asciidoc
Labels: docs

#121 chore: add script to create & upload release assets
  package-lock.json
  package.json
  scripts/release-github.js
Labels: [zube]: In Review

#124 Docs: Guide to setting initial page load transaction name
  docs/advanced-topics.asciidoc
  docs/api.asciidoc
  docs/configuration.asciidoc
  docs/custom-transaction-name.asciidoc
  docs/custom-transactions.asciidoc
  docs/index.asciidoc
Labels: docs
