Repository elastic/apm-agent-rum-js, pull requests merged in 2022-01, with the labels that each got.

#1127 chore: update elastic stack release version 7.16.2 7.17.0
  .ci/scripts/load-testing.sh
  .ci/scripts/pull_and_build.sh
  .ci/scripts/test.sh
  Jenkinsfile
  dev-utils/docker-compose.yml
Labels: automation, dependency

#1139 chore: update elastic stack release version 7.16.3 7.17.0
  .ci/scripts/load-testing.sh
  .ci/scripts/pull_and_build.sh
  .ci/scripts/test.sh
  Jenkinsfile
  dev-utils/docker-compose.yml
Labels: automation, dependency

#1141 chore: neutral naming for apm-agent-rum-js
  CONTRIBUTING.md
  Jenkinsfile
  README.md
  RELEASE.md
  dev-utils/karma.js
  lerna.json
  packages/rum-core/src/common/utils.js
  scripts/lint-commits.sh
Labels: automation

#1143 docs: update broken links for apm-guide-ref #1385
  docs/agent-api.asciidoc
  docs/intro.asciidoc
  docs/set-up.asciidoc
  docs/sourcemap.asciidoc
  docs/transaction-api.asciidoc
  docs/upgrading.asciidoc
Labels: Team:Docs

#1145 docs: 5.x link fixes
  docs/agent-api.asciidoc
  docs/intro.asciidoc
  docs/set-up.asciidoc
  docs/sourcemap.asciidoc
  docs/transaction-api.asciidoc
  docs/upgrading.asciidoc
Labels: Team:Docs

#1144 docs: 4.x link fixes
  docs/agent-api.asciidoc
  docs/intro.asciidoc
  docs/set-up.asciidoc
  docs/sourcemap.asciidoc
  docs/transaction-api.asciidoc
  docs/upgrading.asciidoc
Labels: Team:Docs
